2.1_Klok/.idea/description.html 2.1_Klok/.idea/misc.xml 2.1_Klok/.idea/modules.xml 2.1_Klok/.idea/project-template.xml 2.1_Klok/.idea/workspace.xml Campsites/.idea/codeStyleSettings.xml Campsites/.idea/misc.xml Campsites/.idea/modules.xml Campsites/.idea/uiDesigner.xml Campsites/.idea/workspace.xml Game of Life/.idea/misc.xml Game of Life/.idea/modules.xml Game of Life/.idea/workspace.xml Minesweeper/.idea/misc.xml Minesweeper/.idea/modules.xml Minesweeper/.idea/workspace.xml Zeeslag/.idea/artifacts Zeeslag/.idea/misc.xml Zeeslag/.idea/modules.xml Zeeslag/.idea/workspace.xml
